<article>
  <section class='article-text-container'>
    <br>
    <p>
    Otters.io is written by <a target='_blank' href='https://zaneswafford.com'>Zane Swafford</a>.
    </p>
    <br>
    <p>If you have trouble viewing this site in a modern browser, please let me know.</p>
    <br>
    <br>
    <p class='love'>Made with ❤ in Kansas</p>
  </section>
</article>

<script>
  $('nav ul li#colophon').addClass('active')
</script>