<% articles.each do |article| %>
  <article>
    <h1><%= link_to article.title, article_path(article) %></h1>
    <h2><%= article.created_at.strftime("%A — %B #{article.created_at.day.ordinalize}, %Y") %></h2>

    <%= render 'partials/archive', article: article %>

    <% if article != articles.last %>
      <hr>
    <% else %>
      <br>
      <br>
      <br>
      <br>
    <% end %>
  </article>
<% end %>
