// Put the @import for your google fonts here.
@import url(https://fonts.googleapis.com/css?family=PT+Serif|PT+Sans+Narrow:400,700);

// Set your primary and secondary fonts here
$header-font-family: 'PT Sans Narrow', sans-serif;
$body-font-family: 'PT Serif', serif;

$header-font-weight: 700;
$body-font-weight: 400;