// Put the @import for your google fonts here.
@import url(https://fonts.googleapis.com/css?family=Merriweather:300);

// Set your primary and secondary fonts here
$primary-font-family: 'Merriweather', serif;
$secondary-font-family: 'Merriweather', serif;
$font-weight: 300;